.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 15px;
    padding: 15px;
}

.form__input {
    font-family: Montserrat, sans-serif;
    padding: 5px;
    border: 1px solid #dadada;
}

.form__button {
    font-family: Montserrat, sans-serif;
    color: white;
    background-color: teal;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

.form__button:hover {
    transform: scale(1.1);
    background-color: hsl(180, 100%, 30%);
}

.form__button:active {
    outline: 1px solid black;
}

@media (max-width: 767px) {
    .form {
        display: flex;
        flex-direction: column;
        grid-gap: 7px;
    }
}

@media (max-width: 767px) {
    .form__button {
        padding: 8px;
    }
}

@media (max-width: 767px) {
    .form__button:hover {
        transform: scale(1.03);
    }
}