.section {
    background-color: #ffffff;
    margin-bottom: 10px;
}

.section__header {
    border-bottom: 1px solid #dadada;
    padding: 15px;
    margin: 0;
    font-size: 16px;
}

.section__headerWrapper {
    display: flex;
    border-bottom: 1px solid #dadada;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .section__headerWrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.section__buttonHeader {
    padding: 15px;
    margin: 0;
    font-size: 16px;
}

.section__button {
    font-family: Montserrat, sans-serif;
    border: none;
    margin: 0 10px;
    color: hsl(180, 100%, 25%);
    background-color: transparent;
    font-size: 14px;
    transition: color 0.5s;
    cursor: pointer;
}

@media (max-width: 767px) {
    .section__button {
        width: 100%;
        margin: 10px 0;
    }
}

.section__button:hover {
    color: hsl(180, 100%, 35%);
}

.section__button:disabled {
    color: #ccc;
}